<?xml version="1.0" ?>
<model>
  <name>Road</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>

  <description>
    A simple road model for Gazebo, 20 meters long and 6 meters wide.
  </description>
</model>
