<?xml version="1.0"?>

<model>
  <name>Pickup</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A pickup truck.
  </description>

  <joint name="left_steering_joint" type="revolute">
    <parent link="chassis"/>
    <child link="left_front_wheel"/>
    <origin xyz="0.5 1 0.25" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.5" upper="0.5"/>
    <dynamics damping="0.7"/>
</joint>
<joint name="right_steering_joint" type="revolute">
    <parent link="chassis"/>
    <child link="right_front_wheel"/>
    <origin xyz="0.5 -1 0.25" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.5" upper="0.5"/>
    <dynamics damping="0.7"/>
</joint>
<plugin name="ackermann_plugin" filename="ackermann_steering_controller.so">
    <steering_ratio>18.5</steering_ratio>
    <left_joint>left_steering_joint</left_joint>
    <right_joint>right_steering_joint</right_joint>
    <ackermann_geometry>
        <!-- Specify additional parameters for Ackermann geometry calculation -->
        <wheelbase>1.5</wheelbase>  <!-- Distance between front and rear axles -->
        <track_width>1.4</track_width>  <!-- Distance between the centers of the two front wheels -->
        <steering_link_length>0.5</steering_link_length>  <!-- Length from steering axis to wheel center -->
    </ackermann_geometry>
</plugin>


</model>
