<?xml version="1.0" ?>
<model>
  <name>AckermannCar</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  
  <description>
    This is an Ackermann car model for simulation with steering joints, realistic friction, and an Ackermann steering plugin. It is designed to be used in various Gazebo simulations, providing a good example of car dynamics and control.
  </description>
</model>
